.social-reviews-wrapper{
  margin-bottom: 1rem;
  background-color: white;
  color: #333;
  border: 1px solid rgba(0,0,0,.15);
}

.social-reviews-inner{
  padding: 1rem 2rem;
}

/* HEADER */
.social-reviews-header{
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.social-reviews-header-icon-wrapper{
  height: 70px;
  text-align: center;
}

.social-reviews-header-icon{
  height: 70px;
  width: 70px;
  display: inline-block;
  background: no-repeat center/auto 70px;
}

.social-reviews-facebook .social-reviews-header-icon{
  background-image: url(../img/facebook-logo.png);
}
.social-reviews-yelp .social-reviews-header-icon{
  background-image: url(../img/yelp-logo.png);
}
.social-reviews-google_plus .social-reviews-header-icon{
  background-image: url(../img/google-logo.png);
}
.social-reviews-rateabiz .social-reviews-header-icon{
  background-image: url(../img/rateabiz-logo.png);
  width: 148px;
  background-size: 100% auto;
}

.social-reviews-header-meta{
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

.social-reviews-header-meta-divider{
  margin-left: .25rem;
  margin-right: .25rem;
}

/* BODY */
.social-reviews-body{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.social-reviews-noreviews{
  text-align: center;
}

.social-reviews-review-rating{
  padding-bottom: 1rem;
  font-size: 0;
}
.social-reviews-review-rating-star,
.social-reviews-review-rating-star-half{
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  fill: currentColor;
  margin-left: .125rem;
  margin-right: .125rem;
  background: no-repeat center/contain;
}
.social-reviews-review-rating-star{
  background-image: url('../img/star.svg');
}
.social-reviews-review-rating-star-half{
  background-image: url('../img/star-half.svg');
}

.social-reviews-review-meta{
  padding-top: 1rem;
}
.social-reviews-review-meta-author{
  font-weight: bold;
}

/* FOOTER */
.social-reviews-footer{
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}
.social-reviews-footer .social-reviews-permalink a{
  color: inherit;
  font-weight: bold;
}
.social-reviews-footer .social-reviews-permalink a:after{
  content: '\f105';
  font-family: 'FontAwesome';
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.social-reviews-footer .social-reviews-permalink a:hover:after{
  opacity: 1;
  margin-left: .25rem;
}

/* CARD TYPE */
.social-reviews-slider{
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.social-reviews-slider .social-reviews-review{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.social-reviews-slider .slick-prev,
.social-reviews-slider .slick-next{
  height: 1.25rem;
  width: 1.25rem;
}
.social-reviews-slider .slick-prev:before,
.social-reviews-slider .slick-next:before{
  font-size: 1.25rem;
  color: #333;
}

/* LIST TYPE */
.social-reviews-review + .social-reviews-review{
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0,0,0,.15);
  padding-top: 1.5rem;
}

/* WIDGET AND SMALL SCREENS */
.widget .social-reviews-wrapper{
  margin-bottom: 0;
}
.widget .social-reviews-inner{
  padding: 1rem;
}
.widget .social-reviews-header{
  padding-top: 1rem;
}
.widget .social-reviews-footer{
  padding-bottom: 1rem;
}
.widget .social-reviews-header-meta-divider{
  display: block;
  font-size: 0;
}
.widget .social-reviews-slider .slick-prev,
.widget .social-reviews-slider .slick-next{
  -webkit-transform: none;
          transform: none;
  top: 0;
}
.widget .social-reviews-slider .slick-prev{
  left: 0;
}
.widget .social-reviews-slider .slick-next{
  right: 0;
}

@media screen and (max-width: 767px){
  .social-reviews-inner{
    padding: 1rem;
  }
  .social-reviews-header{
    padding-top: 1rem;
  }
  .social-reviews-footer{
    padding-bottom: 1rem;
  }
  .social-reviews-header-meta-divider{
    display: block;
    font-size: 0;
  }
  .social-reviews-slider .slick-prev,
  .social-reviews-slider .slick-next{
    -webkit-transform: none;
            transform: none;
    top: 0;
  }
  .social-reviews-slider .slick-prev{
    left: 0;
  }
  .social-reviews-slider .slick-next{
    right: 0;
  }
  .social-reviews-header-meta-divider{
    display: block;
    font-size: 0;
  }
}